@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#menu-bar {
    display: none;
}
header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51, 51, 51, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}
.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.menu a:hover {
background: rgba(255, 255, 255, 0.3);;
}

#menu-bar:checked ~ .menu {
transform: translateX(0%);
}
@media (min-width:1024px){
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    .menu a {
        border: none;
    }
    header label {
        display: none;
    }
}

#banner {
    margin-top: 50px;
    position: relative;
   
}

#banner h2{
    font-size: 28px;
}

#banner .carousel .carousel-inner .carousel-item  {
    width: 100%;
    height: 100%;
}

#banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    columns: #fff;
}

section {
    width: 100%;
    margin-bottom: 25px;
}
.contenedor {
    width: 98%;
    margin: auto;
}
header .contenedor {
    display: table;
}
.titulo {
    float: left;
}

#bienvenidos h2 {
    text-align: center;
}

#blog .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#blog article {
    margin: 15px;
    text-align: center;
}
#blog img {
    width: 100%;
    max-width: 280px;
}

#blog ,h4 {
    text-align: center;
    margin-block-end: 5%;
}
#blog h3 {
    text-align: center;
    margin-block-end: 5%;
    font-style:italic;
    
}


 #bienvenidos p {
    color: black;
    text-justify: auto; 
    font-size: 22px;
    font-style: italic;
    margin-left: 15px;
    margin-right: 15px;
}

#bienvenidos .center {
    width: 100%;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#bienvenidos .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#bienvenidos img {
position: relative;
overflow: hidden;
border-radius: 6px;
box-shadow: 0px 5px 5px;
}

#bienvenidos img {
    transition: all 0.5s linear;
}
#bienvenidos img:hover {
 transform: scale(0.9);
}

.parrafo {
    color: black;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.parrafo:hover {
  transform: scale(0.9);
}
.parrafo {
    transition: all 0.5s linear;
}

 #team .contenedor  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

#team article {
    margin: 15px;
    text-align: center;
}
#team img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
#team{
    background:rgba(51, 51, 51, 0.74);
    color: #fff;
}

 #team img:hover {
    transform: scale(0.9);
  }
  #team img {
      transition: all 0.5s linear;
  }
#team h4,h5 {
    text-align: center;
    font-style:italic;
}

#team h3 {
    text-align: center;
    margin-block-end: 5%;
    font-style:italic;  
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display:block;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #000000e5;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
    transition-duration: 0.4s;
    cursor: pointer;
}
 .button:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
 }
 .div {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
 }

 #contacto h3{
     text-align: center;
 }
 .card1 {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 40px;
    background: rgba(0, 0, 0, 0.274);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
 }

 .card1 .input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
 }
 .card1 label {
     color: ivory;
    font-weight: bold;
 }
 .footer {
    background: rgba(51, 51, 51, 0.9);
    width: 100%;
    height: 20vh;
 }

 .footer img {
     padding-top: 5px;
     height: 20%;
     margin: 2px;
 }

 .social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	right: 0; /* Establecemos la barra en la izquierda */
	top: 300px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 
	.social ul {
		list-style: none;
	}
 
	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}
 
	.social ul li .icon-facebook-squared {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-whatsapp {background: #0fb900;}
	.social ul li .icon-gmail {background: #ae181f;}
 
	.social ul li a:hover {
		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}

    footer {
        background: #16222A;
        background: -webkit-linear-gradient(59deg, #d0d8db, #3a3b3b);
        background: linear-gradient(59deg, #6f7070, #1f2020);
        color: white;
        margin-top:100px;
      }
      
      footer a {
        color: #fff;
        font-size: 20px;
        transition-duration: 0.2s;
      }
      
      footer a:hover {
        color: #4b82fa;
        text-decoration: none;
      }
      
      .copy {
        font-size: 12px;
        padding: 10px;
        border-top: 1px solid #FFFFFF;
      }
      
      .footer-middle {
        padding-top: 2em;
        color: white;
      }
      footer h4 {
          text-align: justify;
      }
      #error{
          text-align: center;
      }

 
